        <footer><small>&copy; Copyright <%= new Date().getFullYear() %>, SSA @ GT — Made with &#10084;&#65039; by <a href="https://amj.codes">amj</a></small></footer>
        <script type="text/javascript">
            function rotateIcon(x) {
                x.classList.toggle("change");
                document
                    .getElementById("shrink-header")
                    .classList.toggle("show");
            }
        </script>
    </body>
</html>