<%- include ("partials/header") %>

<main>
    <h2>About</h2>
    <p>
        The Saudi Student Association at Georgia Tech was founded in
        2020 to provide a welcoming environment for Saudi students to
        connect with their heritage. We aim to connect with Saudi
        students who intend to attend Georgia Tech and provide them with
        the necessary information needed. Our members come from
        different backgrounds and are in a variety of disciplines.
    </p>
    <img src="SSA.webp" alt="logo" style="margin: 50px auto; display: block; width: 300px;">
</main>

<%- include ("partials/footer") %>