<%- include ("partials/header") %>

<main>
    <h2>About</h2>
    <p style="margin: 30px;">
        The Saudi Student Association at Georgia Tech was founded in
        2020 to provide a welcoming environment for Saudi students to
        connect with their heritage. We aim to connect with Saudi
        students who intend to attend Georgia Tech and provide them with
        the necessary information needed. Our members come from
        different backgrounds and are in a variety of disciplines.
    </p>
    <h2>Team</h2>
    <section class="grid-section">
        <div>
            <img src="person.webp" alt="avatar">
            <h3 style="font-size: 20px;">Abdullah AlJasser</h3>
            <h4>President</h4>
            <p style="font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a felis libero. Vestibulum erat mauris, mattis vel dolor eget, euismod scelerisque ipsum. Pellentesque non neque ut libero bibendum dapibus. Maecenas.</p>
        </div>
        <div>
            <img src="person.webp" alt="avatar">
            <h3 style="font-size: 20px;">Abdullah AlJasser</h3>
            <h4>President</h4>
            <p style="font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a felis libero. Vestibulum erat mauris, mattis vel dolor eget, euismod scelerisque ipsum. Pellentesque non neque ut libero bibendum dapibus. Maecenas.</p>
        </div>
        <div>
            <img src="person.webp" alt="avatar">
            <h3 style="font-size: 20px;">Abdullah AlJasser</h3>
            <h4>President</h4>
            <p style="font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a felis libero. Vestibulum erat mauris, mattis vel dolor eget, euismod scelerisque ipsum. Pellentesque non neque ut libero bibendum dapibus. Maecenas.</p>
        </div>
        <div>
            <img src="person.webp" alt="avatar">
            <h3 style="font-size: 20px;">Abdullah AlJasser</h3>
            <h4>President</h4>
            <p style="font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a felis libero. Vestibulum erat mauris, mattis vel dolor eget, euismod scelerisque ipsum. Pellentesque non neque ut libero bibendum dapibus. Maecenas.</p>
        </div>
        <div>
            <img src="person.webp" alt="avatar">
            <h3 style="font-size: 20px;">Abdullah AlJasser</h3>
            <h4>President</h4>
            <p style="font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a felis libero. Vestibulum erat mauris, mattis vel dolor eget, euismod scelerisque ipsum. Pellentesque non neque ut libero bibendum dapibus. Maecenas.</p>
        </div>
        <div>
            <img src="person.webp" alt="avatar">
            <h3 style="font-size: 20px;">Abdullah AlJasser</h3>
            <h4>President</h4>
            <p style="font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a felis libero. Vestibulum erat mauris, mattis vel dolor eget, euismod scelerisque ipsum. Pellentesque non neque ut libero bibendum dapibus. Maecenas.</p>
        </div>
    </section>
    <img src="SSA.webp" alt="logo" style="margin: 50px auto; display: block; width: 300px;">
</main>

<%- include ("partials/footer") %>