<%- include ("partials/header") %>

<main>
    <h2>Apply for Board</h2>
    <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLScqw9_ul0SuqYfGC9Tzio98ZoC76Ph9IMp95yHUaZa-pK8oWA/viewform?embedded=true"
        style="width: 80%; height: 500px; margin: 50px auto;"
        title="Board Application"
        >Loading…</iframe
    >
    <img
        src="SSA.webp"
        alt="logo"
        style="margin: 50px auto; display: block; width: 300px"
    />
</main>

<%- include ("partials/footer") %>
