<%- include ("partials/header") %>

<style>
    html,
    body {
        height: 100%;
        width: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
    }
</style>
<div id="banner">
    <div>
        <div>
            <h2>All is One, One is All.</h2>
            <h3>Saudi Student Association at Georgia Tech</h3>
        </div>
        <div>
            <img src="SSA.png" alt="logo" />
        </div>
    </div>
</div>

<%- include ("partials/footer") %>
