<%- include ("partials/header") %>

<main>
    <section>
        <h2>Login</h2>
        <form action="/login" method="POST" enctype="application/x-www-form-urlencoded">
            <input type="text" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="submit">
        </form>
    </section>
</main>

<%- include ("partials/footer") %>