<%- include ("partials/header") %>

<main>
    <h2>Membership</h2>
    <form action="/members" method="POST" enctype="application/x-www-form-urlencoded">
        <section>
            <div>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" value="<% if (typeof query.name === 'string') %><%= query.name %>">
            </div>
            <div>
                <label for="email">GT Email</label>
                <input type="text" name="email" id="email" value="<% if (typeof query.email === 'string') %><%= query.email %>">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
        </section>
        <input type="submit">
    </form>
</main>

<%- include ("partials/footer") %>